<hr>
<div class="conatiner">
    <div class="row">
        <div style="margin: 50px;"  class="col-md-4">
            <img src="{{employees.empPic}}" alt="Employee Image" height="200px">
        </div>
        <div style="font-size: 25px; " class="col-md-7">
            <div>
                <p></p>
                <h2><u>Employee Details</u></h2>
                <br>
                <p>Employee ID: <input type="text " disabled value={{employees.id}}></p>
                <p>Employee Name: <input type="text " disabled value={{employees.empName}}></p>
                <p>Employee Address: <input type="text " disabled value={{employees.empAddress}}></p>
                <p>Employee Phone: <input type="text " disabled value={{employees.empPhone}}></p>
            </div>
        </div>
    </div>
</div>