
@{
    ViewBag.Title = "Index";

}
@using (Html.BeginForm("SignIn","News"))
{
<center style="width:500px; align-items:center; margin:10% 30%; border:1px solid black;padding:20px;border-radius:1%;">
    <h1> Login In Page </h1>
    <hr />
    <div>
        <p>
            <label>Email Address:</label>
            <input type="text" name="txtEmail" />
        </p>
    </div>

    <div>
        <p>
            <label>Password: </label>
            <input type="password" name="txtPassword" />
        </p>
    </div>

    <div style="width:100px;">
        <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
    </div>

    @TempData["error"]
</center>
}



