@model NewsApp.Data_Component.New

@{
    ViewBag.Title = "Add";
}

<h1> Add New News</h1>
@using (Html.BeginForm())
{
    <div>
        Enter the Title of the News : @Html.EditorFor((m) => m.NewsTitle, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div >
        Enter the News Publisher: @Html.EditorFor((m) => m.NewsPublisher, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    <div>
        Enter the descriptio of the News: @Html.EditorFor((m) => m.NewsDescription, new { htmlAttributes = new { @class = "form-control" } })
    </div>
    
    <div>
        <button type="submit" class="btn btn-primary">Add News</button>
    </div>
        }
