@model List<NewsApp.Data_Component.New>
@{
    ViewBag.Title = "Home";
}

<h1>Breaking News!!!!</h1>
@foreach (var item in Model)
{
<div style="background-color:lavender;padding:75px">
    <p style="font-size:30px;text-align:center"> <b>@item.NewsTitle</b> </p>
    <p style="font-size:20px;text-align:center">@item.NewsDescription</p>
    <p style="font-style:italic;text-align:right">@item.NewsPublisher</p>
    <hr />
</div>
}